{% extends "::layout.html.twig" %}

{% block title  %}
    Liste des employés {{ parent() }}
 {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/radio.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
{%render(controller(CongeBundle:AdminController:recherche))%}
 <form style="margin:30px" class="form-inline mt-2 mt-md-0"  >
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-brand" type="submit" >Search</button>
        </form>
   <div class="row" style="padding:20px;font-size:20px;">
        <div class="col-2" >Nom</div>
        <div class="col-1" >Prénom</div>
        <div class="col-2" >Statut</div>
        <div class="col-2" >Post</div>
         <div class="col-2">Tél</div>
        <div class="col-3">Action</div>
      
     </div>
  {% for key in viewUserdets %}
 <div  style="padding:20px">
     <div class="row">
        <div class="col-2">{{key.userLastname}}</div>
        <div class="col-1">{{key.userFirstname}}</div>
        <div class="col-2">{{key.status}}</div>
         <div class="col-2">{{key.post}}</div>
        <div class="col-2">{{key.phone}}</div>
           <div class="col-3">  <button class="btn btn-brand" type="submit" action={{path('ilaneo_modifier_employe')}} >Modifier</button>
             <button class="btn btn-brand" type="submit">Bulletin de paie</button>
           </div>
     </div>
  
 </div> 
  
   
   
   
 {%endfor%}

{% endblock %}