{% extends "::layout.html.twig" %}

{% block title %}
    Accueil {{ parent() }}
{% endblock %}

{% block body %}

    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Mes coordonnées
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <!--begin::Section-->
        <div class="m-section">

             {% for message in app.flashes('submit-notice') %}
                 <div class="alert alert-notice"  style:{color:#8A2BE2;}>
                    {{ message }}
                 </div>
             {% endfor %}

            <div class="m-section__content">
                <table class="table table-striped m-table">
                    <tbody>
                    <tr>
                        <th>
                            Nom
                        </th>
                        <th>
                            {{ user.userLastname }}
                        </th>
                    </tr>
                    <tr>
                        <th scope="row">
                            Prénom
                        </th>
                        <td>
                            {{ user.userFirstname }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            N°CIN
                        </th>
                        <td>
                            {{ user.cin }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Date de naissance
                        </th>
                        <td>
                            {{ user.birthDate|date("d/m/Y") }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Situation familiale
                        </th>
                        <td>
                            {{ user.familySituation }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            N°Télephone
                        </th>
                        <td>
                            {{ user.phone }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Email
                        </th>
                        <td>
                            {{ user.email }}
                        </td>
                    </tr><tr>
                        <th scope="row">
                            Statut
                        </th>
                        <td>
                            {{ user.status }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Poste
                        </th>
                        <td>
                            {{ user.post }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Date de recrutement
                        </th>
                        <td>
                            {{ user.recruitmentDate|date("d/m/Y") }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Salaire brute
                        </th>
                        <td>
                            {{ user.startingSalary }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Congé payé
                        </th>
                        <td>
                            {{ user.paidVacation }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--end::Section-->
    </div>
    <!--end::Form-->

{% endblock %}