<p>

 Objet : demande de congé annuel

                                                                                         Tunis,le {{askDate|date('Y-m-d')}}
 Madame, Monsieur 


 Je tiens par la présente à vous informer de mon souhait de prendre un congé annuel pour la période allant du {{startDate|date('Y-m-d')}} au {{endDate|date('Y-m-d')}}.

 Cette demande s’inscrit dans le cadre des droits à congés payés que j’ai acquis au titre de l’année « année de référence »

 Je vous remercie par avance de la bienveillance que vous porterez à ma demande, et vous saurais gré de bien vouloir m’informer de votre décision.


                                                                                         Signature

 
                                                                                            {{userFirstname}} {{userLastname}}
</p>