<p>
 Objet : demande de congé exceptionnel
 P.J.  :{{supportingDoc}}
                                                                                         Tunis,le {{askDate|date('Y-m-d')}}

 Madame, Monsieur,

 Je suis amené(e) à vous demander l’autorisation de m’absenter de mon travail de {{startDate|date('Y-m-d')}} a {{endDate|date('Y-m-d')}}. En effet, je vais devoir m’absenter ce jour en raison du fait que {{pattern}}.
 Je vous remercie par avance de la bienveillance que vous porterez à ma demande, et vous saurais gré de bien vouloir m’informer de votre décision.


                                                                                         Signature

 
                                                                                            {{userFirstname}} {{userLastname}}
</p>