<p>

 Objet : demande de congé sans solde
 P.J.  :{{supportingDoc}}
                                                                                         Tunis,le {{askDate|date('Y-m-d')}}
 Madame, Monsieur,

 J’ai l’honneur de vous demander un congé sans solde.
 En effet, j’aimerais pouvoir m’absenter de l’entreprise. Ce congé sans solde me permettra de {{pattern}}
 Ce congé débuterait donc, si vous en êtes d’accord, le {{startDate|date('Y-m-d')}} et se terminerait le {{endDate|date('Y-m-d')}}.

 A cette date, et comme le permet le code du travail, je réintègrerai le poste que j’occupe actuellement.

 Je vous prie d’agréer, Madame, Monsieur, mes respectueuses salutations.

                                                                                         Signature

 
                                                                                            {{userFirstname}} {{userLastname}}
</p>